.project-container {
  background-color: #dcde8c !important;
  margin-bottom: "50px";
}
.section-title {
  text-align: center; /* Center align the text */
  margin-bottom: 20px; /* Add space below the title */
}
